<div class="mx-auto mt-5" style="width: 900px;">
  <table class="table">
    <thead>
      <tr>
        <th>Código</th>
        <th>Curso</th>
        <th>Progresso (%)</th>
        <th>Remover</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let curso of cursos">
        <td scope="row">{{curso.id}}</td>
        <td>{{curso.nome}}</td>
        <td>{{curso.desempenho}}</td>
        <td> <a href="javascript:void(0);" class="action-icon"> <i class="fa fa-trash"></i></a></td>
      </tr>
    </tbody>
  </table>
</div>


