<app-home></app-home>

<div class="mx-auto mt-5" style="width: 800px;">
  <label>Seus Cursos</label>
  <ul class="list-group">
    <li class="list-group-item">Python</li>
    <li class="list-group-item">Java Completo</li>
    <li class="list-group-item">Desenvolvimento web</li>
    <li class="list-group-item">Git e Github</li>
  </ul>
</div>

<!--
<table class="table">
  <thead>
    <tr>
      <th>Curso</th>
      <th>Número de acessos</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let curso of cursos">
      <td scope="row">{{cursostable.id}}</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td scope="row"></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
-->
